.tabs {
	position: absolute;
	z-index: 60;
	right: 25px;
	bottom: 30px;
}

.dcg-code {
	position: relative;
	height: 100%;
}

#run-code {
	position: absolute;
	z-index: 60;
	width: 117px;
	right: 25px;
	bottom: 5px;
}
